# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled Shaders
*.spv

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Build folder wildcard
*[Bb]uild*/

# vs cache
.vs/

# vs code cache
.vscode/

# IntelliJ
# Not ignoring the IntelliJ cache folder as it has it's own .gitignore (and i'm sharing some config in it.)
#.idea

# Others
nul
*.env
